@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css';
@import '../../bower_components/AdminLTE/dist/css/AdminLTE.css';
@import '../../bower_components/AdminLTE/dist/css/skins/skin-black.css';
body
	background-color:#fff
	table
		border:1px solid #dcdcdc
		margin-top:20px
		background-color:white